body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.6em;
}

h1,
h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

#guarantee {
  margin: 30px;
  border: 1px dashed white;
  padding: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.9em;
  font-style: italic;
  color: #444;
  background-color: #a7cece;
}
