body {
  font-size: small;
  line-height: 1.6em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1,
h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

.page {
  margin: 0 auto;
  padding: 0 50px 20px;
  max-width: 1200px;
  min-height: 1170px;
}

#elixirs {
  margin-left: 20px;
  border: 1px solid #007e7e;
  padding: 0 20px 20px;
  width: 200px;
  float: right;
  line-height: 1.1;
  text-align: center;
  background: white url("../images/cocktail.gif") repeat-x;
}

#elixirs h2 {
  color: black;
}

#elixirs h3 {
  color: #d12c47;
}

#elixirs a:link {
  color: #007e7e;
}

#elixirs a:visited {
  color: #333;
}

#elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}

#guarantee {
  margin: 30px;
  margin-right: 250px;
  border: 2px dashed white;
  padding: 25px;
  padding-left: 80px;
  line-height: 1.9em;
  font-family: Georgia, Times, serif;
  color: #444;
  background: #a7cece url("../images/background.gif") no-repeat top left;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: orange;
}

.music-list {
  margin-bottom: 220px;
}

.cd {
  font-style: italic;
}

.artist {
  font-weight: bold;
}

#footer {
  margin-top: 30px;
  font-size: 70%;
  line-height: normal;
  text-align: center;
}
