body {
  font-family: sans-serif;
}

h1 {
  border-bottom: 1px solid gray;
  color: gray;
}

h2 {
  color: gray;
}

p {
  color: maroon;
}

em {
  font-family: serif;
}

.green-tea {
  color: lightgreen;
}

.raspberry-ice {
  color: lightskyblue;
}

.blueberry-bliss {
  color: violet;
}

.cranberry-antioxidant {
  color: lightcoral;
}
